<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="COSC_31112_Visual_Programming_Final_Project_Group19.Properties.Settings.Group19ConnectionString"
            connectionString="Data Source=DESKTOP-9HG1TI6\SQLEXPRESS;Initial Catalog=Group19;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>